<fieldset>
    <div class="form-group card">
        <div class="col-6 center">
            <div class="card">
                <div class="card-content text-center">
                    <h6 class="title">Inscrição realizada com sucesso.</h6>
                    <div class="card-subtitle">
                        <button type="button" class="btn btn-primary pull-right" routerLink="/">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>