<div class="container-fluid" *ngIf="!inscricaoId">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Inscrição de Emprego</h4>
                    <p class="category">* os campos marcados com asteríscos são de preenchimento obrigatório.</p>
                </div>
                <div class="card-content">
                    <form [formGroup]="inscricaoForm">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Nome*</label>
                                    <input type="text" class="form-control" formControlName="nome">
                                    <div class="form-control-feedback text-danger"
                                         *ngIf="inscricaoForm.get('nome').touched && inscricaoForm.get('nome').errors">
                                        {{ inscricaoForm.getFirstErrorFrom('nome').replace('%s', 'Nome') }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">CPF*</label>
                                    <input type="text" class="form-control" formControlName="cpf" [textMask]="{mask: cpfMask}">
                                    <div class="form-control-feedback text-danger"
                                         *ngIf="inscricaoForm.get('cpf').touched && inscricaoForm.get('cpf').errors">
                                        {{ inscricaoForm.getFirstErrorFrom('cpf').replace('%s', 'CPF') }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">E-mail*</label>
                                    <input type="email" class="form-control" formControlName="email">
                                    <div class="form-control-feedback text-danger"
                                         *ngIf="inscricaoForm.get('email').touched && inscricaoForm.get('email').errors">
                                        {{ inscricaoForm.getFirstErrorFrom('email').replace('%s', 'E-mail') }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Celular*</label>
                                    <input type="text" class="form-control" formControlName="celular" [textMask]="{mask: celularMask}">
                                    <div class="form-control-feedback text-danger"
                                         *ngIf="inscricaoForm.get('celular').touched && inscricaoForm.get('celular').errors">
                                        {{ inscricaoForm.getFirstErrorFrom('celular').replace('%s', 'Celular') }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Telefone*</label>
                                    <input type="text" class="form-control" formControlName="telefone" [textMask]="{mask: telefoneMask}">
                                    <div class="form-control-feedback text-danger"
                                         *ngIf="inscricaoForm.get('telefone').touched && inscricaoForm.get('telefone').errors">
                                        {{ inscricaoForm.getFirstErrorFrom('telefone').replace('%s', 'Telefone') }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-bottom: 0em !important;">
                                    <label class="control-label">Habilidade(s) Técnica(s)*</label>
                                </div>
                                <div class="form-group input-group">
                                    <input type="text" formControlName="habilidadeTecnica" class="form-control" disabled>
                                    <span class="input-group-btn"><button class="btn btn-warning" type="button" (click)="openModal(modalHabTecnica)"><i class="fa fa-plus"></i></button></span>
                                </div>
                                <div class="form-control-feedback text-danger"
                                     *ngIf="inscricaoForm.get('habilidadeTecnica').touched && inscricaoForm.get('habilidadeTecnica').errors">
                                    {{ inscricaoForm.getFirstErrorFrom('habilidadeTecnica').replace('%s', 'Hábilidade(s) Técnica(s)') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Link</label>
                                    <input type="text" class="form-control" formControlName="link">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-bottom: 0em !important;">
                                    <label class="control-label">Experiência Profissional</label>
                                </div>
                                <div class="form-group input-group">
                                    <input type="text" formControlName="experienciaProfissional" class="form-control" disabled>
                                    <span class="input-group-btn"><button class="btn btn-warning" type="button" (click)="openModal(modalExpProfissional)"><i class="fa fa-plus"></i></button></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="anexo">Anexo*</label>
                                    <input (change)="selecionarDocumento($event,'anexo')" type="file"
                                           class="control-file" id="anexo" aria-describedby="fileHelp" />
                                    <div class="form-control-feedback has-danger text-danger"
                                         *ngIf="inscricaoForm.get('anexo').touched && inscricaoForm.get('anexo').errors">
                                        {{ inscricaoForm.getFirstErrorFrom('anexo', 'anexo') }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success pull-right mt-1" (click)="inscrever()">Inscrever-se</button>
                        <p><br/></p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal de Habilidades técnicas -->
<ng-template #modalHabTecnica let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Habilidade Técnica</h4>
        <button type="button" class="btn btn-secondary" (click)="modalReferencia.hide()">Fechar</button>
    </div>
    <div class="modal-body" [formGroup]="habTecnicaForm">
        <div class="form-group">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group input-group">
                            <input formControlName="descricao" type="text" class="form-control" placeholder="Descrição" />
                            <div class="input-group-addon">
                                <span class="input-group-btn">
                                    <button type="button" nglButton="destructive" (click)="addHabTecnica()">Adicionar</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-control-feedback has-danger text-danger"
                             *ngIf="habTecnicaForm.get('descricao').touched && habTecnicaForm.get('descricao').errors
                    && habTecnicaForm.get('descricao').enabled">
                            {{ habTecnicaForm.getFirstErrorFrom('descricao').replace('%s', 'Descrição') }}
                        </div>
                        <div class="slds-clearfix slds-p-vertical--xx-small"></div>

                        <!--<ngl-pill (nglPillRemove)="removeHabTecnica(habTecnica)" *ngFor="let habTecnica of habilidadesTecnicas">-->
                            <!--<ngl-icon category="standard" icon="account" nglPillImage></ngl-icon>-->
                            <!--<a href="javascript:void(0)">{{habTecnica.getDescricao()}}</a>-->
                        <!--</ngl-pill>-->
                    </div>
                </div>
            </div>

            <div class="card-block">
                <div class="form-group">
                    <button type="button" class="btn btn-primary col-2 pull-right" (click)="salvarHabTecnica()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!--Modal de experiência profissional -->
<ng-template #modalExpProfissional let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Experiência Profissional</h4>
        <button type="button" class="btn btn-secondary" (click)="modalReferencia.hide()">Fechar</button>
    </div>
    <div class="modal-body" [formGroup]="exProfissionalForm">
        <div class="form-group">
            <div class="card-block">
                <div class="form-group">
                    <input type="text" formControlName="cargo" class="form-control" placeholder="Cargo" />
                    <div class="form-control-feedback has-danger text-danger"
                         *ngIf="exProfissionalForm.get('cargo').touched && exProfissionalForm.get('cargo').errors
                        && exProfissionalForm.get('cargo').enabled">
                        {{ exProfissionalForm.getFirstErrorFrom('cargo').replace('%s', 'Cargo') }}
                    </div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" formControlName="descricao" rows="3" placeholder="Descrição"></textarea>
                    <div class="form-control-feedback has-danger text-danger"
                         *ngIf="exProfissionalForm.get('descricao').touched && exProfissionalForm.get('descricao').errors
                        && exProfissionalForm.get('descricao').enabled">
                        {{ exProfissionalForm.getFirstErrorFrom('descricao').replace('%s', 'Descrição') }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-3">
                            <input class="form-control" formControlName="dataInicio" [textMask]="{mask: dateMask}" id="form_dti" type="text" placeholder="Data ínicio">
                            <div class="form-control-feedback has-danger text-danger"
                                 *ngIf="exProfissionalForm.get('dataInicio').touched && exProfissionalForm.get('dataInicio').errors
                                && exProfissionalForm.get('dataInicio').enabled">
                                {{ exProfissionalForm.getFirstErrorFrom('dataInicio').replace('%s', 'Data ínicio') }}
                            </div>
                        </div>
                        <div class="col-3">
                            <input class="form-control" formControlName="dataFim" [textMask]="{mask: dateMask}" id="form_dtf" type="text" placeholder="Data final">
                            <div class="form-control-feedback has-danger text-danger"
                                 *ngIf="exProfissionalForm.get('dataFim').touched && exProfissionalForm.get('dataFim').errors
                                && exProfissionalForm.get('dataFim').enabled">
                                {{ exProfissionalForm.getFirstErrorFrom('dataFim').replace('%s', 'Data fim') }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" formControlName="trabalhoAtual" class="form-check-input">
                            Trabalho atual
                        </label>
                    </div>
                </div>
            </div>

            <div class="card-block" style="overflow-y:auto; height:150px;" *ngIf="experienciasProfissionais.length > 0">
                <div class="card-header" style="background: orange; color: white;">
                    <h4>Lista</h4>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Dt. Inicio</th>
                        <th>Dt. Final</th>
                        <th>Trabalho atual</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expProfissional of experienciasProfissionais">
                            <td>{{expProfissional.getCargo()}}</td>
                            <td>{{expProfissional.getDataInicio()}}</td>
                            <td>{{expProfissional.getDataFim()}}</td>
                            <td>{{expProfissional.getTrabalhoAtual() ? "Sim" : "Não"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-block">
                <div class="form-group">
                    <button type="button" class="btn btn-primary col-2 pull-right" (click)="salvarExpProfissional()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<fieldset *ngIf="inscricaoId">
    <div class="form-group card">
        <div class="card-header text-center">
            <h4 class="title">Confirmação de Inscrição</h4>
        </div>
        <div class="col-6 center" [formGroup]="confirmarInscricaoForm">
            <div class="card">
                <div class="card-content text-center">
                    <h6 class="title">Verifique no seu e-mail o código de confirmação.</h6>
                    <p><br/></p>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control center" formControlName="codigoConfirmacao" style="margin-left: 6em;" type="text" placeholder="Código de Confirmação" size="6" maxlength="6">
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary pull-right" (click)="confirmar()" [disabled]="!confirmarInscricaoForm.isValid()">Confirmar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</fieldset>
